#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

html {
    background-color: slategray;
}

h3 {
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}

#main {
    display: flex;
    justify-content: center;
}